# Base de Datos de NEOGESTIÓN (SQLite local independiente)
DATABASE_URL="file:./neogestion.db"

# Clave Secreta para Sesión de Administración
ADMIN_SESSION_SECRET="neogestion_super_secret_corporate_token_2025"

# Configuración del Sitio
NEXT_PUBLIC_SITE_NAME="NEOGESTIÓN"
NEXT_PUBLIC_SITE_URL="http://187.77.195.9"
