# Configuración General del Sitio Corporativo
NEXT_PUBLIC_SITE_NAME="VanguardiaCorp"
NEXT_PUBLIC_SITE_URL="https://vanguardiacorp.com"

# Configuración de Notificaciones y Contacto
CONTACT_EMAIL_RECEIVER="contacto@vanguardiacorp.com"

# Métricas y Analítica (Opcional)
# NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"
